---

---

<h2 class="text-[#005B5B] font-bold my-8 text-xl">Portafolio</h2>
<div class="grid sm:grid-cols-4 gap-4 p-4">
  <div
    class="sm:col-span-1 sm:row-span-1 custom-grid-item bg-cover bg-center rounded-lg"
    style="background-image: url('/img/rubros/venta1.webp'); height: 150px; width: 100%;">
  </div>
  <div
    class="sm:col-span-1 sm:row-span-1 custom-grid-item bg-cover bg-center rounded-lg"
    style="background-image: url('/img/rubros/venta2.jpg'); height: 150px; width: 100%;">
  </div>
  <div
    class="sm:col-span-2 sm:row-span-1 custom-grid-item bg-cover bg-center rounded-lg"
    style="background-image: url('/img/rubros/venta3.png'); height: 150px; width: 100%;">
  </div>
  <div
    class="sm:col-span-1 sm:row-span-1 custom-grid-item bg-cover bg-center rounded-lg"
    style="background-image: url('/img/rubros/venta4.jpg'); height: 150px; width: 100%;">
  </div>
  <div
    class=" flex justify-center items-center sm:col-span-2 sm:row-span-1 custom-grid-item bg-cover bg-center rounded-lg"
    style="background-image: url('/img/rubros/venta5.webp'); height: 150px; width: 100%;">
    42 rubros comerciales
  </div>
  <div
    class="sm:col-span-1 sm:row-span-1 custom-grid-item bg-cover bg-center rounded-lg"
    style="background-image: url('/img/rubros/venta6.webp'); height: 150px; width: 100%;">
  </div>
  <div
    class="sm:col-span-1 sm:row-span-1 custom-grid-item bg-cover bg-center rounded-lg"
    style="background-image: url('/img/rubros/venta7.webp'); height: 150px; width: 100%;">
  </div>
  <div
    class="sm:col-span-1 sm:row-span-1 custom-grid-item bg-cover bg-center rounded-lg"
    style="background-image: url('/img/rubros/venta8.jpg'); height: 150px; width: 100%;">
  </div>
  <div
    class="sm:col-span-1 sm:row-span-1 custom-grid-item bg-cover bg-center rounded-lg"
    style="background-image: url('/img/rubros/venta9.jpg'); height: 150px; width: 100%;">
  </div>
  <div
    class="sm:col-span-1 sm:row-span-1 custom-grid-item bg-cover bg-center rounded-lg"
    style="background-image: url('/img/rubros/venta10.jpg'); height: 150px; width: 100%;">
  </div>
</div>

<style>
  .custom-grid-item {
    display: flex;
    align-items: center rounded-lg;
    justify-content: center rounded-lg;
    color: white; /* Adjust text color for better contrast with background images */
    font-size: 1.5rem;
    background-color: rgba(
      0,
      0,
      0,
      0.5
    ); /* Optional: Add a semi-transparent overlay for better text readability */
    background-blend-mode: overlay; /* Optional: Blend the overlay with the background image */
  }
</style>
<!-- HOLA -->
